[submodule "library/digikey"]
	path = library/digikey
	url = https://github.com/Digi-Key/digikey-kicad-library.git
[submodule "library/seeed_opl"]
	path = library/seeed_opl
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library.git
